* {
  box-sizing: border-box;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.app-nav-link[aria-current="page"] {
  color: grey;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
